* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: #f2ebe3;
  display: grid;
  align-content: center;
  justify-content: center;
}

.card {
  max-width: 50.1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}
@media only screen and (max-width: 32em) {
  .card {
    grid-template-columns: 1fr;
    max-width: 29.1rem;
  }
}
.card__img {
  max-width: 100%;
  height: auto;
}
.card__details {
  display: grid;
  align-content: start;
  color: #6c7289;
  padding: 3rem;
  gap: 1.1rem;
}
@media only screen and (max-width: 32em) {
  .card__details {
    padding: 1.5rem;
  }
}
.card__tag {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}
.card__heading {
  color: #1c232b;
  font-family: "Fraunces", serif;
  font-size: 2.6rem;
  line-height: 1;
  margin-bottom: 1.3rem;
}
.card__caption {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1.3rem;
}
.card__price {
  margin-bottom: 1.3rem;
}
.card__price-after {
  color: #3c8067;
  font-family: "Fraunces", serif;
  font-size: 2.6rem;
  margin-right: 2rem;
}
.card__price-before {
  font-size: 1.5rem;
  text-decoration: line-through;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: inherit;
  background-color: #3c8067;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 1.3rem 0;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  align-self: end;
}
.btn:hover {
  background-color: #265343;
}

picture {
  display: flex;
}

.attribution {
  margin-top: 1rem;
  font-size: 1.1rem;
  text-align: center;
}
@media only screen and (max-width: 32em) {
  .attribution {
    font-size: 0.8rem;
  }
}
.attribution a:link,
.attribution a:visited {
  color: #3c8067;
  text-decoration: none;
  font-family: "Fraunces", serif;
}
