$color-cream: #f2ebe3;
$color-cyan-dark: #3c8067;
$color-blue-dark: #1c232b;
$color-grayish-dark: #6c7289;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: $color-cream;
  display: grid;
  align-content: center;
  justify-content: center;
}

.card {
  max-width: 50.1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;

  @media only screen and (max-width: 32em) {
    grid-template-columns: 1fr;
    max-width: 29.1rem;
  }

  &__img {
    max-width: 100%;
    height: auto;
  }

  &__details {
    display: grid;
    align-content: start;
    color: $color-grayish-dark;
    padding: 3rem;
    gap: 1.1rem;

    @media only screen and (max-width: 32em) {
      padding: 1.5rem;
    }
  }

  &__tag {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
  }

  &__heading {
    color: $color-blue-dark;
    font-family: "Fraunces", serif;
    font-size: 2.6rem;
    line-height: 1;
    margin-bottom: 1.3rem;
  }

  &__caption {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 1.3rem;
  }

  &__price {
    margin-bottom: 1.3rem;
    &-after {
      color: $color-cyan-dark;
      font-family: "Fraunces", serif;
      font-size: 2.6rem;
      margin-right: 2rem;
    }

    &-before {
      font-size: 1.5rem;
      text-decoration: line-through;
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: inherit;
  background-color: $color-cyan-dark;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 1.3rem 0;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  align-self: end;

  &:hover {
    background-color: #265343;
  }
}

picture {
  display: flex;
}
